<!doctype html>
<html>
  <head>
    <meta charset="uft-8">
    <link rel="stylesheet" href="/stylesheets/master.css"/>
    <title>My Firsdt EJS</title>
  </head>
  <body>
    <h1>I'm EJS</h1>
    Count : <%= count %>
  </body>
</html>
